*{
    margin: 50px;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-list {
    padding: 5px;
}

img {
    height: 200px;
    width: 200px;
}

h2 {
    background-color: beige;
    border: 2px;
    border-color: antiquewhite;
}